body{
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
    max-width: 1600px;
}
.banner{
    background-image:linear-gradient(rgb(7, 2, 17),rgba(7, 2, 17, 0)),url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    Width:1320px;
    Height:600px;
    border-radius: 16px;
    margin: 50px auto 0px ;    
}
.banner-heading{
    font-size: 32px;
    font-weight: 400px;
    color:rgb(255, 255, 255);
    padding: 177px 531px 0px 530px;
    text-align:center;
}
.banner-title{
    font-size: 72px;
    font-weight: 900px;
    color:rgb(255, 255, 255);
    padding:0px 340px 177px;
    margin-top: 16px;
    text-align:center ;
}
.section{
    margin-top: 120px;
}
.off{
    font-size: 88px;
    font-weight: 700px;
    text-align: center;
    color: rgb(255, 0, 0);

}
.holiday-deal{
    font-size: 24px;
    font-weight: 500px;
    text-align: center;
    color: rgb(255, 0, 0);
    margin-top: 49px;
}
.all-catagory{
    font-weight: 700px;
    font-size: 48px;
    text-align: center;
    color:rgb(7, 2, 17);
    margin-top: 16px;
    margin-bottom: 47px;

}
.new-year-image{
    Width:802.9px;
    Height:500px;
    margin:0px 398.1px 0px 399px;
}
