*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
}
.banner{
    background-image:linear-gradient(rgb(7, 2, 17),rgba(7, 2, 17, 0)),url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    Width:1320px;
    Height:600px;
    border-radius: 16px;
    margin: 50px auto 0px ;    
}
.banner-heading{
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-weight: 400px;
    color:rgb(255, 255, 255);
    padding: 177px 531px 0px 530px;
    text-align:center;
}
.banner-title{
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: 900px;
    color:rgb(255, 255, 255);
    padding:0px 340px 177px;
    margin-top: 16px;
    text-align:center ;
}
.section{
    margin-top: 120px;
}
.off{
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: 700px;
    text-align: center;
    color: rgb(255, 0, 0);

}
.holiday-deal{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500px;
    text-align: center;
    color: rgb(255, 0, 0);
    margin-top: 49px;
}
.all-catagory{
    font-family: "Inter", sans-serif;
    font-weight: 700px;
    font-size: 48px;
    text-align: center;
    color:rgb(7, 2, 17);
    margin-top: 16px;
    margin-bottom: 47px;

}
.new-year-image{
    Width:802.9px;
    Height:500px;
    margin:0px 398.1px 0px 399px;
}
.welcome-all{
    display: flex;
    gap:39.17px;
    background-image:linear-gradient(rgb(7, 2, 17),rgba(7, 2, 17, 0)),url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    Width:1320px;
    Height:600px;
    border-radius: 16px;
    margin: 0px auto;
}
.welcome{
    font-family: "Merriweather", serif;
    font-weight: 900px;
    font-size: 64px;
    color:rgb(255, 255, 255);
    padding: 126px 94.17px 0px 126px;
    margin-bottom:24px ;
}
.welcome-detail{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color:rgba(255, 255, 255, 0.8);
    padding: 0px 0px 0px 126px;
    margin-bottom: 48px;
    
}
.join-now{
    font-family: "Inter", sans-serif;
    padding: 0px 0px 142px 158px ;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
    text-decoration: none;
    
}
   
.welcome-image{
    Width:319.83px;
    Height:464.66px;
    padding: 68.11px 138px 67.23px 0px;
}
.time{
    background-image: linear-gradient(rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0));
    Width:1320px;
    Height:482px;
    margin: 0px auto;
    border-radius: 16px;
}
span{
    color:rgb(255, 0, 0);
}
.schedule{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600px;
    text-align: center;
    color:rgb(7, 2, 17);
    margin-bottom: 48px;
    padding: 100px 386px 0px 385px;
}
.Join-Now{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700px;
    text-align: center;
    color:rgb(255, 255, 255);
    padding:16px 32px;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    border: none;
    display: block;
    margin: auto;

}
.best-offer{
    display:flex;
    gap :70px;
    align-items: center;
    justify-items: space-between;
    width: 1320px;
    height: 463px;
    margin: 0px auto;
}
.offer-heading{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500px;
    color:rgb(255, 0, 0);
   
    

}
.offer-about{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900px;
    color:rgb(7, 2, 17);
    margin-top: 16px;
  
   
}
.offer-detail{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400px;
    color:rgba(7, 2, 17, 0.6);
    margin-top:22px;
    left: 140px;
    width: 393px;
    height: 128px;
    
}
.ellipse-1{
    Width:364.84px;
    Height:364.84px;
    padding: 49.08px 49.08px;
    border: 15px solid rgb(255, 0, 0);
    box-sizing: border-box;
    border-radius: 463px;
    padding:0px auto;
}
.year-2024{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700px;
    color:700px;
    margin-bottom: 15px;
    padding:0px 0px 0px 48.33px;
    
}
.year-detail{
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color:rgba(7, 2, 17, 0.6);
    margin-bottom: 43px;
    padding:0px 0px 0px 48px;
    Width:276px;
    Height:96px;
    

}
.group-96{
    height: 150px;
    width: 150px;
    padding:0px 0px 2px 48px;
    
}

